@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');


*{
    margin: 0;
    padding: 0;
    background-color: black;
}

.container{
    max-width: 80vw;
    font-family: 'Ubuntu', sans-serif;
}

.navbar{
    display: flex;
    height: 67px;
}
.navbar li{
    list-style: none;
    margin: 0 12px;
}
.navbar a{
  text-decoration: none;
  display: inline-block;
  position: relative;
  color: black;
}



.navbar a:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: orange;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.navbar a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.topleft{
    width: 50%;
}

.topright{
    width: 50%;
}

.section1{
   max-height: 100vh;
   color: #711e15;
}

.section1 h1{
    color: #37110d;
    font-size: 2rem;
}

.logo{
    font-size: 1.3rem;
}

.pullupimg{
    width: 289px;
}

.topright .gymimg{
    width: 466px;
}

.section2{
    padding: 73px;

}

.section2 h1{
    font-size: 2.3rem;
}

.section2 p{
    padding: 0 8vw;
    text-align: center;
    color: white;
}

.box{
    padding: 8px 0;
    margin: 12px 22px;
    min-width: 20vw;
    border: 2px solid white;
    border-radius: 8px;
    text-align: center;
    color: white;
    background-color: black;
}

.box h2{
    font-size: 2rem;
    padding: 15px 0;
    color: gold;
}

.highlighted{
    font-size: 1.2rem;
    font-weight: bolder;
}

.box ul{
    list-style-type: none;
}

.box ul li{
   margin: 12px 2px;
   color: white;
}

.plantable{
    display: flex;
    justify-content: center;
    align-items: center;
}

.section3 table{
    width: 100%;
    margin-bottom: 140px;
    margin-top: 20px;
    border-collapse: collapse;
}

.section3 table th{
    width: 23vw;
    border-bottom: 2px solid black;
    padding: 15px 0;
}

.section3 table td{
    border-bottom: 2px solid black;
}


.section3 h1{
    font-size: 2.3rem;
}

.section3{
    padding: 73px;
}

footer{
    padding: 23px;
    text-align: center;
}
.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px;
}

.deal{
    font-size: 1.2rem;
    font-weight: bolder;
    margin: 12px 0;
}



.wrapper {
  height: 15vh;
  display: grid;
  place-items: center;
}

.typing-demo {
  color: blue;
  width: 22ch;
  animation: typing 2s steps(22), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 3em;
}

@keyframes typing {
  from {
    width: 0
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
