body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right,#9a1d86, #1595be);
    font-weight: bold;
}

.container{
    height: 95vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.wrapper{
    border: 1px solid transparent;
    padding: 30px;
    border-radius: 20px;
    background-color: #ddd;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.details {
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: center;
}

.desc {
   font-size: 1rem;
}

.desc a{
  text-decoration: none;
}


.button a {
            background-image: linear-gradient(to right, #f79d00 0%, #64f38c  51%, #f79d00  100%);
            margin: 10px;
            padding: 15px 45px;
            text-align: center;
            text-transform: uppercase;
            transition: 0.5s;
            background-size: 200% auto;

            box-shadow: 0 0 20px #eee;
            border-radius: 10px;
            display: block;
            text-decoration: none;
          }

          .button a:hover{
            background-position: right center; /* change the direction of the change here */
            color: #fff;
            text-decoration: none;
          }
